@import '../../styles/variables';

.header {
  padding: 1rem 0 3rem;

  display: flex;
  justify-content: flex-end;
}

.title {
  color: $dark-gray;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: $gray;
  font-size: 1rem;
  margin-right: 1.3rem;
  text-decoration: none;

  &:hover {
    color: lighten($color: $primary-color, $amount: 10);
  }
}

.active-nav-item {
  color: $primary-color;
  font-weight: 500;
}

.logo {
  height: 90px;
  justify-content: flex-start;
}