.container {
  background: #eee;

  padding: 1.2rem;
  padding-bottom: 0.4rem;
  margin-bottom: 1.6rem;
}

.title {
  margin-bottom: 0.2rem;
}

.description {
  margin-bottom: 0.8rem;
}

.tech-title {
  margin-bottom: 0.2rem;
}

.tech {
  margin-bottom: 0.8rem;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.t {
  font-family: monospace;

  background: blueviolet;
  color: #eef;

  padding: 0.25rem;
  margin: 0;
  margin-right: 0.4rem;
}
