.container {
  background: #eee;

  padding: 1rem;
  margin-bottom: 1.6rem;
}

.title {
  margin-bottom: 0.2rem;
}

.description {
  margin-bottom: 0.8rem;
}

.tech-title {
  margin-bottom: 0.2rem;
}

.tech {
  margin-bottom: 0.8rem;
}
