@import "../../styles/variables";

.container {
  background: #eee;

  padding: 1.2rem;
  padding-bottom: 0.4rem;
  margin-bottom: 1.6rem;

  width: 20.5rem;
}

.title {
  margin-bottom: 0rem;
}

.link {
  margin-bottom: 0.8rem;
}

.description {
  margin-bottom: 1.2rem;

  font-size: 1rem;
  line-height: 1.2rem;
}

.tech-title {
  margin-bottom: 0.4rem;
}

.tech {
  margin-bottom: 0.8rem;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.t {
  font-family: monospace;
  font-size: 1rem;

  background: #eff;
  color: $secondary-color;

  border-style: solid;
  border-radius: 0.5rem;
  border-width: 0.5px;

  padding: 0 0.25rem;
  margin: 0;
  margin-right: 0.4rem;
}
